


<!--<div class="card-panel hoverable"> The $animal's sighting was successfully recorded. </div>-->

<div class="card hoverable small">
<div class="card-image">
    <span class="card-title">Success!</span>
    <img src="./success.jpg">
</div>
<div class="card-content">
    <p>The $animal.getName() sighting was successfully recorded.</p>
</div>
<div class="card-action">
    <h4><a href="/">Home</a></h4>
</div>
</div>